.Main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 120px var(--page-sides-padding);
  min-height: 100vh;
}

.AdminPageTopControls {
}

.AdminPageTopControlsInternal {
  /* border: 1px solid var(--cat); */
  border-radius: 4px;
}
