.MultiImagesComponent {
}

.MultiImagesComponentTopControls {
  display: flex;
  margin-top: 20px;
}

.MultiImagesComponentPreviewContainer {
  border: 1px dotted lightgray;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  background-color: rgb(254, 246, 246);
  margin-top: 10px;
}

.MultiImagesComponentPreviewContainerTop {
  display: flex;
  margin-top: 30px;
}

.MultiImagesComponentPreviewImageContainer {
  display: flex;
}

.MultiImagesComponentPreviewImage {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.MultiImagesComponentPreviewImage img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.MultiImagesComponentLoadedContainer {
  border: 1px dotted lightgray;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  background-color: rgb(248, 253, 246);
  margin-top: 10px;
}

.MultiImagesComponentImageNumberLabel {
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 12px;
  color: white;
  border: 2px solid rgb(205, 228, 255);
  background-color: var(--blue-sky);
  position: absolute;
  padding: 2px 6px;
  font-size: 0.7em;
}

.MultiImagesComponentNoExpandedContainer {
}

.MultiImagesComponentNoExpandedContainerInternal {
  display: flex;
  flex-wrap: wrap;
}

.MultiImagesComponentNoExpandedContainerInternalItem {
  width: 80px;
  height: 80px;
  margin: 5px;
}

.MultiImagesComponentNoExpandedContainerInternalItem img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.MultiImagesComponentDeleteIconButton {
  color: var(--alarm);
  font-size: 1.4em;
  cursor: pointer;
  transition: 0.5s;
}

.MultiImagesComponentDeleteIconButton:hover {
  box-shadow: 0 0 4px red;
}

.MultiImagesComponentEditIconButton {
  color: var(--leaf);
  font-size: 1.4em;
  cursor: pointer;
  transition: 0.5s;
}

.MultiImagesComponentEditIconButton:hover {
  box-shadow: 0 0 4px green;
}
