.ToastMessage {
  margin: 70px auto auto 20px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.ToastMessageItem {
  margin: auto;
  font-size: 12px;
  padding: 8px 25px 8px 25px;
  border-radius: 4px;
  width: fit-content;
  box-shadow: 1px 1px 5px white;
  font-weight: bold;
}

.ToastMessageItemSuccess {
  background-color: rgb(81, 186, 92);
  color: white;
  border: 1px solid rgb(12, 170, 28);
  box-shadow: 0 0 7px rgb(44, 215, 61);
}

.ToastMessageItemError {
  background-color: rgb(216, 47, 47);
  color: white;
  border: 1px solid rgb(209, 30, 30);
  box-shadow: 0 0 7px rgb(243, 73, 73);
}
