.CustomerReviewCard {
  background-color: #f4fafe;
  padding: 20px 20px 15px 20px;
  box-shadow: 0 2px 4px rgba(128, 128, 128, 0.198);
  transition: 0.5s;
}

.CustomerReviewCard:hover {
  box-shadow: 0 2px 4px rgba(128, 128, 128, 0.293);
}

.CustomerReviewCardText {
  height: 80px;
  font-size: 0.8em;
  line-height: 1.5em;
}

@media only screen and (max-width: 800px) {
  .CustomerReviewCardText {
    max-width: 650px;
    height: 100px;
  }
}

.CustomerReviewCardBottom {
  margin-top: 24px;
  display: flex;
}

.CustomerReviewCardBottomLeft {
  display: flex;
}

.CustomerReviewCardBottomLeftLeft img {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.CustomerReviewCardBottomRight {
  margin: 0 0 0 auto;
  cursor: pointer;
}
